button {
  display: block;
  font-size: 3rem;
}

#tools_container {
  position: absolute;
}

#canvas_container {
  position: absolute;
  left: 95px;
}

canvas {
  border: 5px solid black;
  
  position: absolute;
}
input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload-btn {
    margin-left: 20px;
}
.form-container {
    display: flex;
    margin-bottom: 10px;
}