<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css" type="text/css">

  <meta charset="utf-8">  

</head>
  <body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div id="logo">
    My Cloud <strong>PAINT</strong><br>
    DRAW YOUR FUTURE
  </div>
    <div id="galery-container">
        <h1 class="gallery-header">Gallery</h1>
        <hr class="line">
        <div class="gallery" id="gallery"></div>
    </div>



  
  </div>

<footer>
  SOFIA UNIVERSITY - INFORMATION SYSTEMS, COURSE 3
  WEB TECHNOLOGIES <br>
  Project by <br> Desislava - If - Petya - Boyan
</footer>
    <script src="js/gallery.js"></script>
 </body> 
  
</html>
