<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="css/sweetalert2.min.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" name="loginform" method="POST" enctype="multipart/form-data" id="login-form">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="#username" name="username" class="login__input" placeholder="User name / Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" name="password" class="login__input" placeholder="Password">
                </div>

                <button class="button login__submit" type="submit" onclick="validate()">Log In Now
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
                <span id="message"></span>

                <button class="button login__submit" ><a href="/register"> Register In Now</a>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>

                <button class="button login__submit" ><a href="/changepassword"> Change password</a>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

            <div class="social-login">
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

</body>
<script src="js/login.js"></script>
<script src="js/validate.js"></script>
<script src="js/sweetalert2.min.js"></script>
</html>