<!DOCTYPE html>
<html>

<head>
    <title>My Paint Cloud | Gallery</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/mygallery.css">
    <link rel="stylesheet" href="css/sweetalert2.min.css" type="text/css">
    <link rel="icon" href="images/plog.png">
  <meta charset="utf-8">  

</head>
  <body>
  <span id="title_paint">MY PAINT CLOUD</span><br>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <h1 id="greeting">Gallery</h1>
    <div id="galery-container">
        <div class="gallery" id="gallery">
            <% images.forEach(element => { %>
                <img src="<%= element.content.data %>"
                     data-id="<%=element.id%>"
                     style="width: auto; height:100px;" class="img-gallery">
            <% }); %>
        </div>
    </div>
  </div>
<footer>
  SOFIA UNIVERSITY - INFORMATION SYSTEMS, COURSE 3
  WEB TECHNOLOGIES <br>
  Project by <br> Desislava - If - Petya - Boyan
</footer>

<!-- The Modal -->
<div id="myModal" class="modal">
    <a id="edit"> <button id="edit_painting" onclick="toEdit()"> Edit </button></a>
    <a href="" id="download-a" download=""><button id="save_on_computer" onclick="download()">Save on my computer </button></a>
    <button id="delete_from_gallery" >Delete from gallery </button>
    <span class="close">&times;</span>
    <img class="modal-content" id="img01" data-id="">
</div>
  <script src="js/sweetalert2.min.js"></script>
  <script  src="js/mygallery.js"></script>
 </body>
</html>
