body, html {
  background: darkcyan;

}
html {
  height:100%;
}

body {
  margin:0;
}
#logo{
  position:fixed; top:0; left:0;
  color: #cccccc;
  margin: 20px;
font-size: 20px;
  font-family: "Arial Narrow";
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
button {
  display: block;
  font-size: 4px;
  background-color: white;
  margin: 4px 2px;
  padding: 7px;
}

#tools_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* canvas {
  border: 1px solid black;
  
  position: absolute;
} */

.resizable {
  background: white;
  width: 90%;
  height: 60%;
  position: absolute;
  margin: 20px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  border: 3px solid grey;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
#drawing_canvas{
  width: 100%;
  height: 100%;
}

img {
  width: 40px;
  height: 38px;
  background-color: white;
}

.vertical-line{
  border-left: 2px solid grey;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
}



#size_up_button, #size_down_button {
  display:inline-block;
  width: 28px;
  height: 28px;
  font-size: 1.15rem;
  padding: 0px;
}
#black {
  background: black; 
}
#white {
  background: white; 
}
#yellow {
  background: yellow; 
}
#red {
  background: red; 
}
#green {
  background: lawngreen; 
}
#blue {
  background: deepskyblue; 
}
#purple {
  background: darkviolet; 
}
#orange {
  background: orangered; 
}
#aqua {
  background: aqua; 
}
#pink {
  background: deeppink; 
}
#black, #white, #yellow, #red, #green, #blue, #purple, #orange, #aqua, #pink,#empty-color,#empty-color2{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

#wrapper:after {
  display: table;
  clear: both;
}

#size_field[type=number]{
}
#size_field{
  width: 3%;
  font-size: 20px;
  color: #035858;
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-sizing: border-box;
}
#size_up_button,#size_down_button
{
  font-size: 20px;
  background: gray;
  color: white;
}
.upload-btn {
    margin-left: 20px;
}
.form-container {
    display: flex;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

button { transition: all .2s ease-in-out; }
button:hover { transform: scale(1.1); }
footer{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 0%, rgba(194,180,20,0.9752275910364145) 100%, rgba(0,212,255,1) 100%);
  font-family: "Agency FB";
  letter-spacing: 2px;
  padding-top: 10px;
  position: fixed;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkcyan;
  color: white;
  text-align: center;
  height: 10%;
}